<div class="welcome-container">
  <h1 class="welcome-title">Welcome to Personal Billing</h1>

  <p>Please sign up or <br> log in to continue:</p>

  <div class="welcome-buttons">
    <%= link_to "Sign Up", sign_up_path, class: "welcome-button" %>
    <%= link_to "Log In", log_in_path, class: "welcome-button" %>
  </div>
</div>
