@import 'font-awesome';

body {
  font-family: Arial, sans-serif;
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 300;
  src: url('../fonts/Fontspring-DEMO-proximanova-light.otf') format('opentype');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 700;
  src: url('../fonts/Fontspring-DEMO-proximanova-bold.otf') format('opentype');
}

.bold-text {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 700;
}

h1 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  body {
    background-color: #f1f1f1;
    font-family: 'Proxima Nova Light', sans-serif;
    font-weight: 300;
  }

  h1 {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }

  .welcome-title {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
  }

  .welcome-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    gap: 20px;
    margin-top: 20px;
  }

  .welcome-button {
    padding: 10px 20px;
    background-color: #3778c2;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
  }

  .welcome-button-sign-up {
    text-decoration: none;
    color: #434b54;
  }

  .welcome-button:hover {
    background-color: #555;
  }

  .login-container {
    padding: 20px;
    border-radius: 5px;
    margin: 20px auto;
    max-width: 400px;
  }

  .login-header {
    background-color: #3778c2;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
  }

  .login-title {
    color: white;
    font-size: 24px;
  }

  .login-input {
    width: 92%;
    padding: 10px;
    margin: 0 5px;
    border-radius: 5px;
    border: none;
    background-color: white;
  }

  .field-login {
    margin-bottom: 1px;
  }

  .login-button {
    background-color: gray;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
  }

  .transactions-container {
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .transactions-title {
    background-color: #3778c2;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  .transactions-title h1 {
    color: white;
    margin: 0;
  }

  .category-box {
    background-color: white;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .category-icon {
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin-right: 10px;
  }

  .category-details {
    flex-grow: 1;
  }

  .category-details h3 {
    text-align: left;
    margin-top: -15px;
    padding-left: 20px;
    margin-bottom: 5px;
    color: #434b54;
  }

  .category-details p {
    color: black;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .btn-primary {
    background-color: gray;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
  }

  .btn-primary:hover {
    background-color: darkgray;
  }

  .category-image {
    width: 100%;
    height: auto;
  }

  .title-container {
    background-color: #3778c2;
    padding: 10px;
    margin-bottom: 20px;
  }

  .title {
    color: white;
    margin: 0;
  }

  .field-new-category {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
  }

  .back-button {
    margin-right: 10px;
  }

  .create-button {
    background-color: gray;
    color: white;
    margin-left: 10px;
  }

  .details-container,
  .title-section {
    background-color: #3778c2;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 9rem;
  }

  .details-title,
  .new-transaction-title {
    color: white;
    margin: 0;
  }

  .icon-container {
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin-bottom: 10px;
  }

  .category-name {
    font-weight: bold;
  }

  .transaction-box {
    border: 1px solid #ccc;
    padding: 10px;
  }

  .new-transaction-button {
    display: block;
    background-color: #3778c2;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
  }

  .white-symbol {
    color: white;
  }

  .category-transactions-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
    align-items: center;
  }

  .complete-purchase-detail-container {
    background-color: white;
  }

  .field-categories-selection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .categories-title {
    margin-bottom: 10px;
  }

  .category-checkboxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .field-signup {
    width: 100%;
    box-sizing: border-box;
  }

  .signup-container {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
  }

  .signup-title {
    margin-bottom: 30px;
    background-color: #3778c2;
    padding: 10px 10px 10px 10px;
  }

  .sign_up_title {
    color: white;
    text-align: center;
  }

  .field {
    margin-bottom: 10px;
  }

  .field label {
    display: block;
    font-weight: bold;
  }

  .field input[type="text"],
  .field input[type="email"],
  .field input[type="password"] {
    width: 95%;
    padding: 5px;
  }

  .actions .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3778c2;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }

  .actions .btn:hover {
    background-color: darkblue;
  }

  .actions .btn-secondary {
    background-color: gray;
  }

  .actions .btn-secondary:hover {
    background-color: darkgray;
  }
}
